{% assign link = include.link %}
{% assign destination_slug = include.destination | default: link.destination %}
{% assign product_slug = include.product | default: link.product %}
{% assign product = site.data.products.items | where: 'slug', product_slug | first %}
{% if destination_slug == nil and product %}
  {% assign destination_slug = product.destination %}
{% endif %}
{% assign destination = site.data.destinations.items | where: 'slug', destination_slug | first %}
{% assign label = include.label | default: product.label | default: destination.label | default: link.label %}
{% assign href = nil %}
{% assign external = false %}
{% if destination %}
  {% assign href = destination.url %}
  {% assign external = destination.external %}
{% elsif product %}
  {% assign href = product.url %}
  {% assign external = product.external %}
{% elsif link %}
  {% assign href = link.url %}
  {% assign external = link.external %}
{% endif %}
{% if href %}
<a{% if include.class %} class="{{ include.class | escape }}"{% endif %} href="{% if external %}{{ href | escape }}{% else %}{{ href | relative_url }}{% endif %}"{% if external %} rel="noreferrer"{% endif %}>{% if include.content %}{{ include.content }}{% else %}{{ label | escape }}{% endif %}</a>
{% endif %}
