@mixin styles {
.u-flow > * + * {
  margin-block-start: var(--flow-space, var(--omarchy-space-neutral));
}

.u-cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cluster-space, var(--omarchy-space-medium));
  align-items: center;
}

.u-text-center {
  text-align: center;
}

.u-visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
}
