<!doctype html>
<html lang="{{ page.language.tag | default: page.lang | default: site.lang | default: 'en' | escape }}">
  <head>
    {% include head.html %}
  </head>
  <body class="page page--{{ page.archetype | default: 'generic' | escape }}">
    {% if site.data.navigation %}
      {% include header.html %}
    {% endif %}

    {% capture search_section %}{% include search-section.html %}{% endcapture %}
    {% if search_section == "" %}
      <main id="main-content" tabindex="-1">
    {% else %}
      <main id="main-content" tabindex="-1" data-pagefind-filter="section:{{ search_section }}">
    {% endif %}
      {{ content }}
    </main>

    {% if site.data.navigation %}
      {% unless site.data.navigation.search.spotlight == false %}
        {% include site-search.html spotlight=true %}
      {% endunless %}
    {% endif %}

    {% if site.data.navigation %}
      {% include footer.html %}
      {% include scripts.html %}
    {% endif %}
  </body>
</html>
