<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' | escape }}">
  <head>
    {% include head.html %}
  </head>
  <body class="page page--{{ page.archetype | default: 'generic' | escape }}">
    {% if site.data.navigation %}
      {% include header.html %}
    {% endif %}

    <main id="main-content" tabindex="-1">
      {{ content }}
    </main>

    {% if site.data.navigation %}
      {% include site-search.html spotlight=true %}
    {% endif %}

    {% if site.data.navigation %}
      {% include footer.html %}
      {% include scripts.html %}
    {% endif %}
  </body>
</html>
